nav {
    background-color: aqua;
    padding: 10px;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 15px ;
    letter-spacing: 1px;
    word-spacing: 5px;
  



}